version: "3.8"

services:
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: Anjesh@123

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8888:8080"

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    restart: always
    ports:
      - "9090:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Anjesh@123
    command:
      - start-dev
      - --db=dev-file
    volumes:
      - keycloak-data:/opt/keycloak/data

volumes:
  keycloak-data:
    driver: local